<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <div class="social-links">
                    <ul class="social-media-list">
                        {% if site.source_code %}
                            <li>
                                <a href="{{ site.source_code }}">
                                    <svg class="svg-icon orange">
                                        <use xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"></use>
                                    </svg><span>Code source</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.content_license and site.license_link %}
                            <li>
                                Sous licence <a href="{{ site.license_link }}">{{ site.content_license }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="footer-col">
                <p>{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer>
